$textColor: #1F2041;
$textColor_75: transparentize($textColor, 0.25);
$textColor_50: transparentize($textColor, 0.50);
$textColor_25: transparentize($textColor, 0.75);
$textColor_5: transparentize($textColor, 0.95);
$mainColor: #BC9CFF;
$secondColor: #6FCF97;